.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

__pycache__

# cython stuffs
*.c
*.so
build/

# etc
dgp_test.py
/test
/econmltest
/result

# test files
cython_code_test.py
grf_cython/_tester.pyx
time_series_test.py
